* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #e2e2fa;
  }
  
  body > div {
    margin: auto;
  }
  .text{
    background-color: transparent;
    
  }
 
  .btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 18px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s ease;
    min-width: 100px
}

.btn:hover{
    opacity: 0.7;
}

.text:hover{
    opacity: 0.6 ;
}
.btn+.btn{
    margin-left: 16px;
 }

.btn-success{
     background-color: #71be34;
}

.btn--warn{
   background-color: #ffb703
}

.btn--danger{
   background-color: #ff623d;
}

.btn-disabled{
    opacity: 0.5 !important;
    cursor: default;
}

.btn--size-s{
    padding: 8px 30px;
}

.btn--size-l{
    padding:23px 56px ;
}